<!-- Adventures page: contains all adventures info -->

<!-- header -->
<%- include("../partials/header")  %> 


<!-- BS3 container gives space on the sides  -->
<div class="container">
    
    <header class="jumbotron">
        <div class="container"> <!-- meeh. helps a little bit, not much of a difference -->

            <!-- header works same as a div, but has more semantic meaning -->
            <h1>Welcome to Nature Spots</h1>
            <p>View our amazing adventures from all over Austin, TX</p>
            <p>
                <!-- Link to add a new adventure -->
                <a class="btn btn-primary btn-lg" href="/adventures/new">Add a new adventure</a>
            </p>
        </div>
    </header>
    
    <!-- grid for all adventures -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Our most Popular Adventures</h3>

        </div>
    </div>

    <div class="row" style="display:flex; flex-wrap: wrap;">

        <!-- loop through array adventures and display each adventure's info -->
        <% adventures.forEach(adventure => { %>
            <div class="col-md-3 col-sm-6"> <!-- adds responsiveness-->
                <div class="thumbnail">
                    <!-- We need " " quotes around the src attribute, not just empty text, which ejs passes along. We don't want src=http://...  -->
                    <!-- looks kinda weird right? -->
                    <img src="<%= adventure.image %>" alt="adventure image"> 
                    <div class="caption">
                        <h4 class="text-center"> <%= adventure.name  %> </h4>
                    </div>
                    <p>
                        <!-- Get adventure id from MongoDB's _id param. the _id key for each document is always unique! -->
                        <a href="/adventures/<%= adventure._id %>" class="btn btn-primary">More Info </a>
                    </p>
                </div>
                <!-- <hr> -->
            </div> 
            
        <% }); %>
            
            
    </div>
</div>
<!-- footer -->
<%- include("../partials/footer") %> 